services:
  web:
    build: .
    image: forge.apacher.eu/aurelien-dazy/chronotrak:latest
    restart: always
    ports:
      - "8000:5000"
    volumes:
      - chronotrak_data:/app/instance
    env_file:
      - ./.env.${ENVIRONMENT:-development}
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '1.0'
        reservations:
          memory: 512M
          cpus: '0.5'
    command: >
      sh -c "mkdir -p /app/instance &&
        echo 'Début de l'application des migrations...' &&
        if flask db upgrade; then
          echo 'Migrations appliquées avec succès.'
        else
          echo 'Erreur lors de l'application des migrations.' >&2
          exit 1
        fi &&
        if [ ! -f /app/instance/chronotrak.db ] || [ ! -s /app/instance/chronotrak.db ]; then
          echo 'Base de données vide, création du compte administrateur...' &&
          python ./scripts/create_admin.py
        else
          echo 'Base de données existante détectée'
        fi &&
        gunicorn -c gunicorn.conf.py wsgi:app"

volumes:
  chronotrak_data:
    driver: local