/* Barre de rappel des couleurs */
.color-reminder-bar {
    height: 5px;
    background: #fff !important;
    margin-bottom: 1px;
}

.dark-mode .color-reminder-bar {
    background: #121212 !important;
}

.color-reminder-bar .container {
    height: 100%;
}

.color-item {
    width: 16.66%;
    height: 5px;
    transition: height 0.3s ease;
}

.color-reminder-bar:hover .color-item {
    height: 10px;
}